### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
csv_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(csv_path)

## Player Count

* Display the total number of players

In [3]:
# find all unique SN, count them, and assign to total_players
total_players = purchase_data["SN"].nunique()

# create data frame for player count
playerCount_df = pd.DataFrame({"Total Players": [total_players]})

# display data frame
playerCount_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# find all unique items, count them, and assign to unique_items
unique_items = purchase_data["Item ID"].nunique()

# sum up all prices to find total_revenue
total_revenue = purchase_data["Price"].sum()

# find all unique purchase IDs to calculate total number of purchases
purchases = purchase_data["Purchase ID"].nunique()

# calculate average price
average_price = total_revenue / purchases

# create a summary database
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [average_price], 
                          "Number of Purchases": [purchases], "Total Revenue": [total_revenue]})

# clean up formatting for data frame
summary_df = summary_df.style.format({"Average Price": '${0:,.2f}', "Total Revenue": '${0:,.2f}'})

# display data frame
summary_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# drop all duplicate SN
uniqueSN_df = purchase_data.drop_duplicates("SN")

# count number of males, females, and other / non-disclosed
number_male = uniqueSN_df.loc[uniqueSN_df["Gender"] == "Male", "Gender"].count()
number_female = uniqueSN_df.loc[uniqueSN_df["Gender"] == "Female", "Gender"].count()
number_other = uniqueSN_df.loc[uniqueSN_df["Gender"] == "Other / Non-Disclosed", "Gender"].count()

# create index for data frame
index = ["Male", "Female", "Other / Non-Disclosed"]

# calculate percentage for each gender
percent_male = (number_male / total_players) * 100
percent_female = (number_female / total_players) * 100
percent_other = (number_other / total_players) * 100

# create gender demographics data frame
genderDemo_df = pd.DataFrame({"Total Count": [number_male, number_female, number_other],
                         "Percentage of Players": [percent_male, percent_female, percent_other]}, index = index)

# clean up data frame
genderDemo_df = genderDemo_df.style.format({"Percentage of Players": '{0:,.2f}%'})

# display data frame
genderDemo_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# create data frames with only price data for each gender
male_df = pd.DataFrame(purchase_data.loc[purchase_data["Gender"] == "Male", "Price"])
female_df = pd.DataFrame(purchase_data.loc[purchase_data["Gender"] == "Female", "Price"])
other_df = pd.DataFrame(purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", "Price"])

# create new index (as per new order requested)
new_index = ["Female", "Male", "Other / Non-Disclosed"]

# calculate total value of purchases by gender
male_total = male_df["Price"].sum()
female_total = female_df["Price"].sum()
other_total = other_df["Price"].sum()

# calculate number of purchases by gender
male_purchase_count = len(male_df)
female_purchase_count = len(female_df)
other_purchase_count = len(other_df)

# calculate average purchase price by gender
male_average = male_total / male_purchase_count
female_average = female_total / female_purchase_count
other_average = other_total / other_purchase_count

# calculate average total purchase per person by gender
per_male = male_total / number_male
per_female = female_total / number_female
per_other = other_total / number_other

# create purchasing analysis data frame
purchasing_df = pd.DataFrame({"Purchase Count": [female_purchase_count, male_purchase_count, other_purchase_count],
                             "Average Purchase Price": [female_average, male_average, other_average],
                             "Total Purchase Value": [female_total, male_total, other_total],
                             "Avg Total Purchase per Person": [per_female, per_male, per_other]}, index=new_index)

# give index a title
purchasing_df.index.name = "Gender"

# clean up data frame
purchasing_df = purchasing_df.style.format({"Average Purchase Price": '${0:,.2f}',
                                            "Total Purchase Value": '${0:,.2f}',
                                           "Avg Total Purchase per Person": '${0:,.2f}'})

# display data frame
purchasing_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
# create labels and bins
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# categorize players into bins
uniqueSNAges_bins = pd.cut(uniqueSN_df["Age"], bins = bins, labels = labels)

# create age demographics data frame, assign value counts to total counts column
ageDemo_df = pd.DataFrame({"Total Count": uniqueSNAges_bins.value_counts()}, index=labels)

# calculate percentage of players by age bin
ageDemo_df["Percentage of Players"] = (ageDemo_df["Total Count"] / total_players) * 100

# clean up data frame
ageDemo_df = ageDemo_df.style.format({"Percentage of Players": '{0:,.2f}%'})

# display data frame
ageDemo_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
# group purchase data by age
ages_group = purchase_data.groupby(pd.cut(purchase_data["Age"], bins=bins,labels=labels))

# create new data frame
ageAnalysis_df = pd.DataFrame({"Purchase Count": ages_group["SN"].count()}, index=labels)

# calculate values for data frame
ageAnalysis_df["Average Purchase Price"] = ages_group["Price"].sum() / ages_group["SN"].count()
ageAnalysis_df["Total Purchase Value"] = ages_group["Price"].sum()
ageAnalysis_df["Avg Total Purchase per Person"] = ages_group["Price"].sum() / uniqueSNAges_bins.value_counts()

# clean up data frame
ageAnalysis_df = ageAnalysis_df.style.format({"Average Purchase Price": '${0:,.2f}',
                                             "Total Purchase Value": '${0:,.2f}',
                                            "Avg Total Purchase per Person": '${0:,.2f}'})

# display data frame
ageAnalysis_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [13]:
# create new data frame with needed values
topSpenders_df = pd.DataFrame({"Purchase Count": purchase_data["SN"].value_counts(),
                               "Total Purchase Value": purchase_data["Price"].groupby(purchase_data["SN"]).sum()})

# separate line as the data frame needs to be created first
topSpenders_df["Average Purchase Price"] = topSpenders_df["Total Purchase Value"] / topSpenders_df["Purchase Count"]

# organize columns
topSpenders_df = topSpenders_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]

# name the index
topSpenders_df.index.name = "SN"

# sort data frame
topSpenders_df = topSpenders_df.sort_values("Total Purchase Value", ascending=False)

# clean up data frame and only show top 5
topSpenders_df = topSpenders_df.head(5).style.format({"Average Purchase Price": '${0:,.2f}',
                                                      "Total Purchase Value": '${0:,.2f}'})

# display data frame
topSpenders_df

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [14]:
# create data frame with information I already have
itemInfo_df = purchase_data[["Item ID", "Item Name", "Price"]]

# create data frame with new information
itemData_df = pd.DataFrame({"Purchase Count": purchase_data["Item ID"].value_counts(), 
                         "Total Purchase Value": purchase_data["Price"].groupby(purchase_data["Item ID"]).sum()})

# name the index for merging
itemData_df.index.name = "Item ID"

# merge data frames
merged_df = pd.merge(itemInfo_df, itemData_df, on="Item ID")

# drop duplicates
allItems_df = merged_df.drop_duplicates(["Item ID"])

# organize columns
allItems_df = allItems_df[["Item ID", "Item Name", "Purchase Count", "Price", "Total Purchase Value"]]

# rename column
allItems_df = allItems_df.rename(columns={"Price": "Item Price"})

# sort data frame by purchase count then item ID
mostPopularItems_df = allItems_df.sort_values(["Purchase Count", "Item ID"], ascending = False)

# create proper indexes as requested
mostPopularItems_df.set_index(["Item ID", "Item Name"], inplace=True)

# clean up data frame
mostPopularItems_df = mostPopularItems_df.head().style.format({"Item Price": '${0:,.2f}',
                                                     "Total Purchase Value": '${0:,.2f}'})

# display data frame
mostPopularItems_df

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [15]:
# create new database with proper sorting
mostProfitableItems_df = allItems_df.sort_values("Total Purchase Value", ascending=False)

# create proper indexes as requested
mostProfitableItems_df.set_index(["Item ID", "Item Name"], inplace=True)

# clean up data frame
mostProfitableItems_df = mostProfitableItems_df.head().style.format({"Item Price": '${0:,.2f}',
                                                     "Total Purchase Value": '${0:,.2f}'})

# display data frame
mostProfitableItems_df